*, 
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
}

.main {
    text-align: center;
}

.content p {
    font-size: 2rem;
    color: var(--white);
}


.btn {
    width: 50%;
    padding: 1rem 0rem;
    margin: 20px 0px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 1.2rem;
    border-radius: 40px;
}

.btn:hover {
    background-color: rgb(230, 230, 230);
}